.arc {
	font-size: 19px;
}

.arc, .arc {
	margin: auto;
	background: #fefefe;
	-webkit-font-smoothing: antialiased;
}
.arc {
	font-family: "Vollkorn", Palatino, Times;
	color: #333;
	line-height: 1.4;
	text-align: justify;
}

#write {
	max-width: 960px;
	margin: 0 auto;
	margin-bottom: 2em;
	line-height: 1.53;
	padding-top: 40px;
}

@media only screen and (min-width: 1400px) {
	#write {
		max-width: 1100px;
	}
}

@media print {
	html {
		font-size: 13px;
	}
}

/* Typography
-------------------------------------------------------- */

.arc #write>h1:first-child,
h1 {
	margin-top: 1.6em;
	font-weight: normal;
}

.arc h1 {
	font-size:3em;
}

.arc h2 {
	margin-top:2em;
	font-weight: normal;
}

.arc h3 {
	font-weight: normal;
	font-style: italic;
	margin-top: 3em;
}

.arc h1, 
.arc h2, 
.arc h3{
	text-align: center;
}

.arc h2:after{
	border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    display: block;
    margin: 0 auto;
    height: 1px;
}

.arc h1+h2, h2+h3 {
	margin-top: 0.83em;
}

.arc p,
.arc .mathjax-block {
	margin-top: 0;
	-webkit-hypens: auto;
	-moz-hypens: auto;
	/* hyphens: auto; */
}
.arc ul {
	list-style: square;
	padding-left: 1.2em;
}
.arc ol {
	padding-left: 1.2em;
}
.arc blockquote {
	margin-left: 1em;
	padding-left: 1em;
	border-left: 1px solid #ddd;
}
.arc code,
.arc pre {
	font-family: "Consolas", "Menlo", "Monaco", monospace, serif;
	font-size: .9em;
	background: white;
}
.arc .md-fences{
	margin-left: 1em;
	padding-left: 1em;
	border: 1px solid #ddd;
	padding-bottom: 8px;
	padding-top: 6px;
	margin-bottom: 1.5em;
}

.arc a {
	color: #2484c1;
	text-decoration: none;
}
.arc a:hover {
	text-decoration: underline;
}
.arc a img {
	border: none;
}
.arc h1 a,
.arc h1 a:hover {
	color: #333;
	text-decoration: none;
}
.arc hr {
	color: #ddd;
	height: 1px;
	margin: 2em 0;
	border-top: solid 1px #ddd;
	border-bottom: none;
	border-left: 0;
	border-right: 0;
}
.arc .ty-table-edit {
	background: #ededed;
    padding-top: 4px;
}
.arc table {
	margin-bottom: 1.333333rem
}
.arc table th,
.arc table td {
	padding: 8px;
	line-height: 1.333333rem;
	vertical-align: top;
	border-top: 1px solid #ddd
}
.arc table th {
	font-weight: bold
}
table thead th {
	vertical-align: bottom
}
.arc table caption+thead tr:first-child th,
.arc table caption+thead tr:first-child td,
.arc table colgroup+thead tr:first-child th,
.arc table colgroup+thead tr:first-child td,
.arc table thead:first-child tr:first-child th,
.arc table thead:first-child tr:first-child td {
	border-top: 0
}
.arc table tbody+tbody {
	border-top: 2px solid #ddd
}

.arc .task-list{
	padding:0;
}

.arc .md-task-list-item {
	padding-left: 1.6rem;
}

.arc .md-task-list-item > input:before {
	content: '\221A';
	display: inline-block;
	width: 1.33333333rem;
  	height: 1.6rem;
	vertical-align: middle;
	text-align: center;
	color: #ddd;
	background-color: #fefefe;
}

.arc .md-task-list-item > input:checked:before,
.arc .md-task-list-item > input[checked]:before{
	color: inherit;
}
.arc .md-tag {
	color: inherit;
	font: inherit;
}
.arc #write pre.md-meta-block {
	min-height: 35px;
	padding: 0.5em 1em;
}
.arc #write pre.md-meta-block {
	white-space: pre;
	background: #f8f8f8;
	border: 0px;
	color: #999;
	
	width: 100vw;
	max-width: calc(100% + 60px);
	margin-left: -30px;
	border-left: 30px #f8f8f8 solid;
	border-right: 30px #f8f8f8 solid;

	margin-bottom: 2em;
	margin-top: -1.3333333333333rem;
	padding-top: 26px;
	padding-bottom: 10px;
	line-height: 1.8em;
	font-size: 0.9em;
	font-size: 0.76em;
	padding-left: 0;
}
.arc .md-img-error.md-image>.md-meta{
	vertical-align: bottom;
}
.arc #write>h5.md-focus:before {
	top: 2px;
}

.arc .md-toc {
	margin-top: 40px;
}

.arc .md-toc-content {
	padding-bottom: 20px;
}

.arc .outline-expander:before {
	color: inherit;
	font-size: 14px;
	top: auto;
	content: "\f0da";
	font-family: FontAwesome;
}

.arc .outline-expander:hover:before,
.arc .outline-item-open>.outline-item>.outline-expander:before {
  	content: "\f0d7";
}

/** source code mode */
.arc #typora-source {
	font-family: Courier, monospace;
    color: #6A6A6A;
}

.arc .html-for-mac #typora-sidebar {
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.arc .cm-s-typora-default .cm-header, 
.arc .cm-s-typora-default .cm-property,
.arc .CodeMirror.cm-s-typora-default div.CodeMirror-cursor {
	color: #428bca;
}

.arc .cm-s-typora-default .cm-atom, .cm-s-typora-default .cm-number {
	color: #777777;
}

.arc .typora-node .file-list-item-parent-loc, 
.arc .typora-node .file-list-item-time, 
.arc .typora-node .file-list-item-summary {
	font-family: arial, sans-serif;
}

.arc .md-task-list-item>input {
    margin-left: -1.3em;
    margin-top: calc(1rem - 12px);
}

.arc .md-mathjax-midline {
	background: #fafafa;
}

.arc .md-fences .code-tooltip {
	bottom: -2em !important;
}

.arc .dropdown-menu .divider {
	border-color: #e5e5e5;
}